* {
  margin: 0;
  padding: 0;
}
@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__top {
  width: 100%;
}

.logo {
  text-align: left;
  padding: 10px;
}

.logo__text {
  font-size: 70px;
  text-align: center;
}
.logo__text::first-letter {
  color: red;
}

@media (max-width: 700px) {
  .logo__text {
    font-size: 40px;
  }
}

.logo__img {
  padding: 4px;
  width: 300px;
  background-color: rgb(223, 255, 244);
  border-radius: 50%;
  /* transform: scale(-1, 1); */
  box-shadow: 0px 10px 10px 2px rgb(105, 105, 105);
  transition: transform 0.3s;
}

.logo__img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.header__top-inner {
  background-color: #e8edff;
  display: flex;
  flex-direction: column-reverse;
  padding: 3px 20px 60px 20px;
}

.menu {
  text-align: right;
  flex-wrap: wrap;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgb(248, 249, 255);
  list-style: none;
  box-shadow: 0 10px 20px black;
}

.menu__list-item {
  display: inline;
}

.menu__link {
  font-size: 19px;
  color: #303030;
  text-decoration: none;
  padding: 5px;
}

.menu__link--active {
  font-size: 39px;
  font-weight: bold;
  color: red;
}

.header__content{
  width: 100%;
}

.header__content-img {
  width: 100%;
}

.header__content-inner {
  padding: 30px;
}

.header__content-title {
  text-align: center;

  background-color: rgb(255, 161, 161);
}

.swiper-container {
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.image-slider__image {
  width: 100%;
  text-align: center;
  min-width: 0;
}

.image-slider__image img {
  max-width: 100%;
  object-fit: cover;
  box-shadow: 14px 14px 8px rgb(107, 107, 107);
}

.zoomed-image-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 9999;
}

.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-zoomed-image {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* .swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 90%);
}

.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
  color: aliceblue;
  font-size: 60px;
} */



.social__section {
  width: 100%;
}

.social__button{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  background-color: #1d1d1d;
}
.social__button-link {
  margin: 0 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  background: rgba(0,0,0,0);
  color: var(--color);
  font-size: 2.5em;
  -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3));

}

.social__button-link:hover{
  background: var(--color);
  color: #fbfcfa;
  box-shadow: 
  0 0 5px var(--color),
  0 0 25px var(--color),
  0 0 50px var(--color),
  0 0 200px var(--color);
}


.footer__data {
  width: 100%;
  height: 150px;
  margin-top: 5px;
  background-color: rgb(73, 73, 73);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.footer__text {
  text-align:center;
  color: #e8edff;
  
}