* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  text-align: left;
  padding: 10px;
}

.logo__text {
  font-size: 70px;
  text-align: center;
}
.logo__text::first-letter {
  color: red;
}

.logo__img {
  padding: 4px;
  width: 300px;
  background-color: rgb(223, 255, 244);
  border-radius: 50%;
  /* transform: scale(-1, 1); */
  box-shadow: 0px 10px 10px 2px rgb(105, 105, 105);
  transition: transform 0.3s;
}

.logo__img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.header__top-inner {
  background-color: #e8edff;
  display: flex;
  flex-direction: column-reverse;
  padding: 3px 20px 60px 20px;
}

.menu {
  text-align: right;
  flex-wrap: wrap;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgb(248, 249, 255);
  list-style: none;
  box-shadow: 0 10px 20px black;
}

.menu__list-item {
  display: inline;
}

.menu__link {
  font-size: 16px;
  color: #303030;
  text-decoration: none;
  padding: 5px;
}

.menu__link--active {
  font-size: 23px;
  color: #0000008c;
  font-weight: bold;
}

.header__content-img {
  width: 100%;
}

.header__content-inner {
  padding: 30px;
}

.header__content-title {
  text-align: center;
  
  background-color: rgb(255, 161, 161);
}

.swiper-container {
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.image-slider__image {
  text-align: center;
  min-width: 0;
}

.image-slider__image img {
  max-width: 100%;
  box-shadow: 14px 14px 8px rgb(107, 107, 107);
}

/* .swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 90%);
}

.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
  color: aliceblue;
  font-size: 60px;
} */

.blog__title {
  height: 200px;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 320px;
  }
}
